#dish_container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1rem 3rem 1rem;
}
.all_dish_heading {
  font-size: 2.3rem;
  text-align: center;
  font-family: "signika negative";
}
#dish_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.dish_card {
  background-color: rgb(223, 219, 219);
  border-radius: 10px;
  border: 1px solid rgb(185, 177, 177);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  cursor: pointer;
  gap: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0.6rem;
}
#name,
#price {
  font-family: "signika negative";
  font-size: 1.5rem;
}

.dish_card:hover {
  transition: all 0.4s;
  transform: scale(1.05);
}

#dish_boxes .dish_card .dish_cart_image {
  width: 300px;
  height: 180px;
}

.dish_card_info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.operation_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.add_quantity_button {
  font-size: 2.4rem;
}
.minus_quantity_button {
  font-size: 2.4rem;
}
.show_quantity {
  padding: 0.3rem;
  font-size: 1.7rem;
  border-radius: 100%;
}

.operation_card .add_cart_btn {
  padding: 6px 8px 4px 8px;
  text-align: center;
  background-color: rgb(223, 219, 219);
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1rem;
  font-family: "signika negative";
}
.add_quantity_button:hover,
.minus_quantity_button:hover,
.add_cart_btn:hover {
  transition: all 0.2s;
  transform: scale(1.08);
  background-color: rgb(212, 194, 194);
  color: rgb(41, 5, 5);
}

@media (max-width: 600px) {
  #dish_boxes .dish_card .dish_cart_image {
    width: 350px;
    height: 210px;
  }
  .all_dish_heading {
    font-size: 1.5rem;
  }

  .dish_card {
    transition: none;
    transform: none;
  }

  .dish_card:hover {
    transition: none;
    transform: none;
  }
  .dish_card{
    /* pointer-events: none; */
  }
}
