/* slider animaitons */
#specialFoodSlider {
  margin-top: 1%;
  text-align: center;
}
#slider_heading {
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1.8%;
  font-family: "signika negative";

}
#slider {
  margin: 20px auto;
  height: 100%;
  /* width: 100%; */
  overflow-x: hidden;
}

#slider .figure {
  position: relative;
  width: 1000%;
  margin: 0;
  left: 0;
  animation: slider 10s infinite;
}

#slider .figure .img {
  margin: 0px;
  border: 1px solid black;
  height: 50%;
  width: 10%;
  float: left;

  box-shadow: -5px -4px 3px 0px rgba(255, 255, 255, 0.425),
    9px 5px 3px 0px rgba(88, 88, 88, 0.425);
  background: rgb(219, 218, 218);
}

@keyframes slider {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  60% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  80% {
    left: -400%;
  }

  90% {
    left: -400%;
  }
}

@media (max-width: 600px) {
  #slider_heading {
    font-size: 1.6rem;
  }
}
