
#Contents {
    margin: auto;
    padding-top: 4%;
    width: 60%;
}

#Contents h1 {
    margin-top: 1rem;
}
.mainHead{
    margin-top: 1rem;

}

/* Main contents */
.heads {
    margin-top: 30px;
}

.heads h2 {
    background-color: #e54141;
    color: white;
    word-spacing: 5px;
    letter-spacing: 1px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
    text-align: center;
}

.row {
    border: 2px solid black;
    background-color: #f5ebeb;
    border-radius: 5px;
}

.dishImg {
    margin: 5px;
}

.row {
    display: flex;
    align-items: center;
}

.dishImg img {
    width: 180px;
    margin-top: 2px;
    margin-left: 4px;
    height: 140px;
    border: none;
    border-radius: 5px;
}

.dishDetails {
    display: flex;
    align-items: center;
}

.dishInfo {
    margin-left: 30px;
    word-spacing: 1px;
    font-size: 1.7rem;
}

.operationBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6rem;

}

.btn button {
    margin: 15px;
    padding: 2px 16px;
    border: none;
    background: none;
    /*background-color: rgb(211 193 186); */
    background-color: rgb(33, 219, 42);
    border-radius: 10px;
    transition: all 0.8s ease;
}

.btn button:hover {
    background-color: rgba(85, 236, 15, 0.678);
    border-radius: 10px;
}

.btn button:active {
    transform: scale(0.7);
}

.btn button a {
    font-family: 'bree serif';
    text-decoration: none;
    color: red;
    font-size: 1.6rem;

}

@media only screen and (max-width: 1280px) {
    /*
    .operationBtn {
        position: absolute;

        right: 5rem;
    } */

    .row {
        border: 2px solid black;
        margin-top: 17px;
        background-color: #f5ebeb;
        border-radius: 5px;
        height: 220px;
    }

    #Contents {
        margin: auto;
        width: 99%;
    }

    #header {
        margin-left: -20vw;
    }
}

@media only screen and (max-width : 788px) {

    #header #mainHead h1 {
        font-size: 2rem;
    }

    .row {
        flex-direction: column;
        height: 224px;
    }

    .operationBtn {
        position: relative;
        left: 1rem;
        top: -8px;
    }
}

@media only screen and (max-width: 409px) {
    #Contents h1 {
        margin-top: 1rem;
        margin-left: 15px;
        font-size: 1.6rem;
    }

    .heads h2 {
        font-size: 1.3rem;
        word-spacing: 1px;
    }

    .dishImg img {
        width: 171px;
        margin-top: 0px;
        margin-left: -11px;
        height: 132px;
        border: none;
        border-radius: 5px;

    }

    .dishInfo {
        margin-left: 1px;
        word-spacing: 1px;
        font-size: 1.5rem;
    }
}